{% extends "web/base.html" %}
{% load staticfiles %}
{% block title %}Ana Sayfa{% endblock %}

{% block content %}
<img src="{% static 'images/logo.png' %}" class="img-responsive img-centered" alt="İTÜKIŞFEST">
<div class="row">
  <div class="col-md-4">
    <a href="/">
      <img src="{% static 'images/itukisfest.png' %}" class="img-responsive img-button img1" alt="İTÜ KIŞ FEST">
    </a>
    <a href="#">
      <img src="{% static 'images/events.png' %}" class="img-responsive img-button1 img2" alt="Etkinlikler">
    </a>
    <a href="/biz-kimiz/">
      <img src="{% static 'images/about.png' %}" class="img-responsive img-button2 img1" alt="Biz Kimiz">
    </a>
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <a href="#">
      <img src="{% static 'images/rezervasyon.png' %}" class="img-responsive img-button img3" alt="Rezervasyon">
    </a>
    <a href="#">
      <img src="{% static 'images/bansko.png' %}" class="img-responsive img-button1 img4" alt="Bansko">
    </a>
    <a href="http://www.orjinaltur.com" rel="nofollow">
      <img src="{% static 'images/orjinaltur.png' %}" class="img-responsive img-button2 img3" alt="Orjinaltur">
    </a>
  </div>
  <div class="col-md-12 text-center">
    <img src="{% static 'images/prices.png' %}" class="img-responsive price-image" alt="Fiyat Listesi">
  </div>
</div>

{% endblock %}
