body {
  background: url(/static/images/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-centered {
  padding-top: 5em;
	width:25em;
	height:auto;
	margin:0 auto;
}
